{% extends "SPM/layout.html" %}

{% block body %}

<div class="container mt-5">
    <div class="row align-items-center mt-5">
        <div class="col-7">
            <h1 class="display-4">Map Questions to Course Outcomes</h1>
        </div>
        <div class="col-5">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="http://127.0.0.1:8000/SPM/" class="nav-link active" aria-current="page">Create
                        Assessment</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'SemesterStats' %}" class="nav-link" style="color:ivory;">Semester Statistics</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'FacultyStats' %}" class="nav-link" style="color:ivory;">Historical Statistics</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-6 ">
            <h2 class="h2">Add Question</h2>
            <form action="{% url 'mapQuestions' %}" method="POST" class="row justify-content-start list-group lead">
                {% csrf_token %}
                {{ form2 }}
                <div class="row justify-content-start mt-3 mb-3" style="padding:0%;">
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary" style="color:ivory;">Add Question</button>
                    </div>
                    <div class="col-2">
                        <a type="button" class="btn btn-success" href="{% url 'facultyIndex'%}">Done</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <table class="table table-light table-hover " style="color: rgb(41, 41, 37);">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Question No</th>
                        <th scope="col">Question Marks</th>
                        <th scope="col">CO Mapping</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questionList %}
                    <tr>
                        <td>{{ question.0 }}</td>
                        <td>{{ question.1 }}</td>
                        <td>{{ question.2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}