{% extends "SPM/layout.html" %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <div class="row align-items-center mt-5 ">
        <div class="col-7">
            <h1 class="display-1">Program-wise Performance Statistics</h1>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-6">
                    <div class="card-body text-white bg-success">
                        <h5 class="card-text">Highest PLO Rate</h5>
                        <p class="card-text">{{ highestPrgmPLORate }}</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-body text-white bg-warning">
                        <h5 class="card-text">Highest Average CGPA</h5>
                        <p class="card-text">{{ highestPrgmCGPA }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-evenly mt-5">
        <div class="col-2">
            <a href="{% url 'dashboard' %}" class="btn btn-outline-light">Main Dashboard</a>
        </div>
        <div class="col-2">
            <a href="{% url 'schoolDashboard' %}" class="btn btn-outline-light">School-wise Statistics</a>
        </div>
        <div class="col-3">
            <a href="{% url 'departmentDashboard' %}" class="btn btn-outline-light">Department-wise
                Statistics</a>
        </div>
        <div class="col-2">
            <a href="{% url 'programDashboard' %}" class="btn btn-outline-light  disabled">Program-wise Statistics</a>
        </div>
        <div class="col-2">
            <a href="{% url 'courseDashboard' %}" class="btn btn-outline-light">Course-wise Statistics</a>
        </div>
    </div>
    <hr>
    <div class="row align-items-center mt-5 mb-5">
        <div id="cgpa_div" style="height: 400px;"></div>
    </div>
    <hr>

    <h1 class="mt-5">View Program-wise PLO Achievement Rate Distribution:</h1>
    <form class="row align-items-center mt-4" action="{% url 'programDashboard' %}" method="POST">
        <div class="col-4">
            <div class="form lead row">
                {% csrf_token %}
                {{ form }}
            </div>
        </div>
        <div class="col-2">
            <input type="submit" class="form-control btn btn-success" style="color:ivory">
        </div>
    </form>
    <div class="row align-items-center mt-5 mb-5">
        <div id="PLO_div" style="height: 400px;"></div>
    </div>
    <hr>

    <div class="row mt-5 mb-5">
        <h3>Program Learning Outcome Description</h3>
        <table class="table table-stripped table-light table-hover table-bordered" style="color: rgb(41, 41, 37);">
            <thead class="table-dark">
                <tr>
                    <th scope="col">PLO</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description </th>
                </tr>
            </thead>
            <tbody>
                {% for plo in ploTable %}
                <tr>
                    <td>{{ plo.0 }}</td>
                    <td>{{ plo.1 }}</td>
                    <td>{{ plo.2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load google charts
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawCGPAChart);
    google.charts.setOnLoadCallback(drawPLOChart);

    //CO Chart
    function drawCGPAChart() {
        var dataTable1 = JSON.parse("{{dataTable1|escapejs}}");
        //Preparing Data Heading
        var dataHeading = [];
        dataHeading.push("Year");
        var programList = JSON.parse("{{ programList|escapejs }}");

        var i;
        for (i = 0; i < programList.length; i++) {
            dataHeading.push(programList[i][0]);
        }

        var data = google.visualization.arrayToDataTable([
            dataHeading,
            dataTable1[0],
            dataTable1[1],
            dataTable1[2],
        ]);

        var options = {
            title: 'Program-wise CGPA Comparison',
            titleTextStyle: {
                color: 'white',
                fontSize: 20,
            },
            fontName: "Montserrat",
            backgroundColor: { fill: 'transparent' },
            colors: ["#0097a7", "#56c8d8", "#b4ffff"],
            seriesType: 'bars',
            hAxis: {
                textStyle: { color: 'white' },
            },
            vAxis: {
                title: 'CGPA',
                titleTextStyle: {
                    color: 'white'
                },
                textStyle: { color: 'white' },
                maxValue: 4.0,
                minValue: 0
            },
            legend: {
                textStyle: {
                    color: 'white'
                },
                position: 'bottom'
            },
        };
        var chart = new google.visualization.ComboChart(document.getElementById('cgpa_div'));
        chart.draw(data, options);
    }
    //PLO Chart
    function drawPLOChart() {

        var dataTable2 = JSON.parse("{{dataTable2|escapejs}}");

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'PLO');
        data.addColumn('number', 'PLO Rate');

        var j;
        for (j = 0; j < dataTable2.length; j++) {
            data.addRow(dataTable2[j]);
        }

        var options = {
            title: 'PLO-Achievement Rate Comparison',
            titleTextStyle: {
                color: 'white',
                fontSize: 20,
            },
            fontName: "Montserrat",
            backgroundColor: { fill: 'transparent' },
            colors: ["#b2ebf2"],
            seriesType: 'bars',
            hAxis: {
                textStyle: { color: 'white' },
            },
            vAxis: {
                title: 'PLO Achievement Rate in %',
                titleTextStyle: {
                    color: 'white'
                },
                textStyle: { color: 'white' },
                maxValue: 100,
                minValue: 0
            },
            legend: {
                textStyle: {
                    color: 'white'
                },
                position: 'bottom'
            },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('PLO_div'));
        chart.draw(data, options);
    }
</script>
{% endblock %}