{% extends "SPM/layout.html" %}

{% block body %}

<div class="container mt-5 mb -5">
    <div class="row align-items-center mt-5">
        <div class="col-6">
            <h1 class="display-4">Current Semester Statistics</h1>
        </div>
        <div class="col-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="http://127.0.0.1:8000/SPM/" class="nav-link" style="color:ivory;">Create
                        Assessment</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'SemesterStats' %}" class="nav-link active" aria-current="page">Semester
                        Statistics</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'FacultyStats' %}" class="nav-link" style="color:ivory;">Historical Statistics</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>

    <form class="row align-items-end mt-5" action="{% url 'SemesterStats' %}" method="POST">
        <div class="col-9">
            <h1 class="display-6">Faculty: {{ facultyName }}</h1>
        </div>
        <div class="col-2">
            <div class="form-label lead row">
                {% csrf_token %}
                {{ form }}
            </div>
        </div>
        <div class=" col-1">
            <input type="submit" class="form-control btn btn-success" style="color:ivory">
        </div>
    </form>
    <div class="row align-items-center mt-5">
        <div class="col" id="SemProgressBar"></div>
    </div>
    <div class=" row align-items-center mt-5">
        <div id="CO_div" style="height: 500px;"></div>
    </div>
    <div class="row align-items-center mt-5 mb-5">
        <div id="PLO_div" style="height: 500px;"></div>
    </div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    // Load google charts
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawCOChart);
    google.charts.setOnLoadCallback(drawPLOChart);
    google.charts.setOnLoadCallback(drawProgressChart);
    //CO Chart
    function drawCOChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Course Outcome');

        var i;
        var noOfSections = JSON.parse("{{noOfSection|escapejs}}");
        for (i = 0; i < noOfSections; i++) {
            var currSectionNo = (i + 1).toString();
            var str = "Section ";
            var finalStr = str.concat(currSectionNo);
            data.addColumn('number', finalStr);
        }

        var noOfCOs = JSON.parse("{{noOfCOs|escapejs}}");

        var j;
        var sectionValues = JSON.parse("{{data|escapejs}}");
        for (j = 0; j < noOfCOs; j++) {
            var currCO = (j + 1).toString();
            var str = "CO ";
            var finalStr = str.concat(currCO);
            var arr = [];
            arr.push(finalStr);
            var k;
            for (k = 0; k < noOfSections; k++) {
                arr.push(sectionValues[k][j])
            }
            data.addRow(arr);
        }
        var options = {
            title: 'Course Outcome Achievement Rate: Section-wise Comparison',
            titleTextStyle: {
                color: 'white'
            },
            colors: ['#BFF2FF', '#EBC098'],
            fontName: "Montserrat",
            backgroundColor: { fill: 'transparent' },
            hAxis: {
                title: 'Course Outcomes',
                titleTextStyle: {
                    color: 'white'
                },
                textStyle: { color: 'white' },
            },
            vAxis: {
                title: 'Achievment Rate in %',
                titleTextStyle: {
                    color: 'white'
                },
                textStyle: { color: 'white' },
                maxValue: 100,
                minValue: 0
            },
            legend: {
                textStyle: {
                    color: 'white'
                }
            }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('CO_div'));
        chart.draw(data, options);
    }

    //PLO Chart
    function drawPLOChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Program Learning Outcome');

        var i;
        var noOfSections = JSON.parse("{{noOfSection|escapejs}}");
        for (i = 0; i < noOfSections; i++) {
            var currSectionNo = (i + 1).toString();
            var str = "Section ";
            var finalStr = str.concat(currSectionNo);
            data.addColumn('number', finalStr);
        }

        var PLONames = JSON.parse("{{PLONames|escapejs}}");

        var j;
        var sectionValues = JSON.parse("{{data2|escapejs}}");
        for (j = 0; j < PLONames.length; j++) {
            arr = [];
            arr.push(PLONames[j]);
            var k;
            for (k = 0; k < noOfSections; k++) {
                arr.push(sectionValues[k][j])
            }
            data.addRow(arr);
        }
        var options = {
            title: 'Program Learning Achievement Rate: Section-wise Comparison',
            colors: ['#EBD291', '#91A9EB'],
            titleTextStyle: {
                color: 'white'
            },
            fontName: "Montserrat",
            backgroundColor: { fill: 'transparent' },
            hAxis: {
                title: 'Program Learning Outcomes',
                titleTextStyle: {
                    color: 'white'
                },
                textStyle: { color: 'white' },
            },
            vAxis: {
                title: 'Achievment Rate in %',
                titleTextStyle: {
                    color: 'white'
                },
                textStyle: { color: 'white' },
                maxValue: 100,
                minValue: 0
            },
            legend: {
                textStyle: {
                    color: 'white'
                }
            }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('PLO_div'));
        chart.draw(data, options);
    }

    function drawProgressChart() {
        var sectionProgress = JSON.parse("{{sectionProgress|escapejs}}");
        var data = google.visualization.arrayToDataTable([
            ['', 'Progress',],
            ['', sectionProgress],
        ]);
        var materialOptions = {
            title: 'Current Semester Progress %',
            titleTextStyle: {
                color: 'white'
            },
            subtitle: '{{ selectedCourseID }}',
            fontName: "Montserrat",
            backgroundColor: { fill: 'transparent' },
            colors: ['#ffab40'],
            'height': 150,
            hAxis: {
                textStyle: { color: 'white' },
                minValue: 0,
                maxValue: 100,
                gridlines: {
                    color: 'transparent'
                }
            },
            vAxis: {
                textStyle: { color: 'white' },
            },
            legend: 'none'
        };
        var chart = new google.visualization.BarChart(document.getElementById('SemProgressBar'));
        chart.draw(data, materialOptions);
    }
</script>
{% endblock %}