{% extends "SPM/layout.html" %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <div class="row align-items-center mt-5 ">
        <div class="col-5">
            <h1 class="display-3">{{name}}</h1>
            <h1 class="display-6">{{ID}}</h1>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-6">
                    <div class="card-body text-white bg-primary">
                        <h3 class="card-title">Average PLO Rate</h3>
                        <h5 class="card-text">{{plo}}</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-body text-white bg-success">
                        <h3 class="card-title">CGPA</h3>
                        <h5 class="card-text">{{cgpa}}</h5>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <div class="card-body text-white bg-info">
                        <h3 class="card-title">Major</h3>
                        <p class="card-text">B.Sc. in Computer Science & Engineering</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-body text-white bg-warning">
                        <h3 class="card-title">Minor</h3>
                        <p class="card-text">BBA in Finance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div id="semesterProgress" style="height: 600px;">
        </div>
    </div>
    <div class="row mt-5">
        <div id="overallPloRate" style="height: 600px;">
        </div>
    </div>
    <div class="row mt-5">
        <div id="ploAchievementCourseWiseBreakdown" style="height: 600px;">
        </div>
    </div>

</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawPLOCourseWiseChart);
    google.charts.setOnLoadCallback(drawPLOAchievement);
    google.charts.setOnLoadCallback(drawSemProgress);

    function drawPLOCourseWiseChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Course');
        data.addColumn('number', 'PLO Number');

        var dataTable = JSON.parse("{{data1|escapejs}}");
        var i;
        for (i = 0; i < dataTable.length; i++) {
            data.addRow(dataTable[i]);
        }

        var options = {
            title: 'PLO Achievements Course-wise Breakdown',
            colors: ['#0097a7'],
            titleTextStyle: {
                color: 'white'
            },
            subtitleTextStyle: {
                color: 'white'
            },
            fontName: "Montserrat",
            backgroundColor: {
                fill: '#384850',
                stroke: '#5E6E77',
                strokeWidth: 5
            },
            bar: { gap: 5 },
            hAxis: {
                title: 'Program Learning Outcomes (0-1 Represents PLO-1, 1-2 Represent PLO-2 etc.)',
                titleTextStyle: {
                    color: 'white',
                },
                textStyle: { color: 'white' },
            },
            vAxis: {
                title: 'Achievment PLOs',
                titleTextStyle: {
                    color: 'white'
                },
                textStyle: { color: 'white' },
            },
            legend: {
                position: 'none'
            }
        };

        var chart = new google.visualization.Histogram(document.getElementById('ploAchievementCourseWiseBreakdown'));
        chart.draw(data, options);
    }


    function drawPLOAchievement() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'PLO');
        data.addColumn('number', 'Total Attempted');
        data.addColumn('number', 'Total Achieved');
        data.addColumn('number', 'Total Attempts Required');

        var dataTable = JSON.parse("{{data2|escapejs}}");
        var i;
        for (i = 0; i < dataTable.length; i++) {
            data.addRow(dataTable[i]);
        }

        var options = {
            title: 'PLO Counts Summary',
            titleTextStyle: {
                color: 'white'
            },
            subtitleTextStyle: {
                color: 'white'
            },
            colors: ["#ffca28", "#32B5E6", "#E65E97"],
            fontName: "Montserrat",
            backgroundColor: {
                fill: '#293940',
                stroke: '#5E6E77',
                strokeWidth: 5
            },
            bar: { gap: 5 },
            hAxis: {
                title: 'Program Learning Outcomes',
                titleTextStyle: {
                    color: 'white',
                },
                textStyle: { color: 'white' },
            },
            vAxis: {
                title: 'Counts',
                titleTextStyle: {
                    color: 'white'
                },
                textStyle: { color: 'white' },
            },
            legend: {
                position: 'right',
                textStyle: { color: 'white' },
            },
        };

        var chart = new google.visualization.SteppedAreaChart(document.getElementById('overallPloRate'));
        chart.draw(data, options);
    }

    function drawSemProgress() {
        var dataTable = JSON.parse("{{data3|escapejs}}");
        var data = google.visualization.arrayToDataTable(
            dataTable
        );

        var options = {
            title: 'Semester Progress',
            titleTextStyle: {
                color: 'white',
                fontSize: 20
            },
            subtitleTextStyle: {
                color: 'white'
            },
            colors: ["#ffca28", "#32B5E6", "#E65E97", "#80deea"],
            fontName: "Montserrat",
            backgroundColor: {
                fill: '#1D2D34',
                stroke: '#4f5b62',
                strokeWidth: 5
            },
            curveType: 'function',
            hAxis: {
                title: 'Course Outcomes',
                titleTextStyle: {
                    color: 'white',
                },
                textStyle: { color: 'white' },
            },
            vAxis: {
                title: 'CO Evaluation %',
                titleTextStyle: {
                    color: 'white'
                },
                textStyle: { color: 'white' },
            },
            legend: {
                position: 'top',
                textStyle: { color: 'white' },
            },
        };

        var chart = new google.visualization.LineChart(document.getElementById('semesterProgress'));

        chart.draw(data, options);
    }

</script>
{% endblock %}